table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #6ab1e6;
    color: white;
}
a {
    text-decoration-line: unset;
    color: blue;
}
p{
    margin: 0;
    float: left;
    margin-right: 2px;
}
